@model UI.Web.Models.Home.NewPostViewModel

<div class="card shadow-sm">
    <div class="card-body">
        <form asp-action="index" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <textarea asp-for="Content" class="form-control"></textarea>
                <label asp-for="Content" class="control-label"></label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="input-group">
                <label asp-for="AttachedImage" class="input-group-text"></label>
                <input asp-for="AttachedImage" type="file" class="form-control d-inline-block" />
                <span asp-validation-for="AttachedImage" class="text-danger"></span>
                <input type="submit" value="Send" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
