html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.required-label::before {
    content: "*";
    color: red;
    margin-right: 4px;
}

.start-85 {
    left: 85% !important;
}

.top-15 {
    top: 15% !important;
}

.no-caret::after {
    display: none;
}
