@using Core.Concretes.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{
    var profile = await userManager.GetUserAsync(User);
}
<div class="dropdown me-3">
    <img src="/img/talk_icon.png"
         class="rounded-circle dropdown-toggle shadow-sm border p-2 no-caret"
         width="64"
         height="64"
         data-bs-toggle="dropdown" />
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        @if (profile?.ReceivedMessages != null && profile.ReceivedMessages.Any())
        {
            foreach (var message in profile.ReceivedMessages)
            {
                <li>
                    <div class="d-flex align-items-center">
                        <strong>@message.Receiver.UserName</strong>
                    </div>
                </li>
            }
        }
        else
        {
            <li>
                <a class="dropdown-item" href="#">No new messages</a>
            </li>
        }
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="#">View all convertations</a>
        </li>
    </ul>
</div>

<div class="dropdown me-3">
    <div class="position-relative dropdown-toggle no-caret" data-bs-toggle="dropdown">
        <img src="/img/notify_icon.png"
             class="rounded-circle shadow-sm border p-2"
             width="64"
             height="64" />
        <span class="position-absolute top-15 start-85 translate-middle badge rounded-pill bg-danger">
            @profile?.Notifications.Count
            <span class="visually-hidden">new notification</span>
        </span>
    </div>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        @if (profile?.Notifications != null && profile.Notifications.Any())
        {
            foreach (var notification in profile.Notifications)
            {
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-@notification.Type.ToLower()"></i>
                        @notification.Message
                    </a>
                </li>
            }
        }
        else
        {
            <li>
                <a class="dropdown-item" href="#">No new notifications</a>
            </li>
        }
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="#">View all notifications</a>
        </li>
    </ul>
</div>
<div class="dropdown">
    <img src="@(profile?.ProfilePictureUrl??"/img/avocado.png")"
         class="rounded-circle dropdown-toggle shadow-sm border no-caret"
         width="64"
         height="64"
         data-bs-toggle="dropdown" />
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        <li><a class="dropdown-item" asp-controller="account" asp-action="index">My Profile</a></li>
        <li><a class="dropdown-item" asp-controller="account" asp-action="resetpassword">Reset Password</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <button class="dropdown-item btn" data-bs-toggle="modal" data-bs-target="#logoutModal" type="button">Logout</button>
        </li>
    </ul>
</div>